amqp==5.1.1
async-timeout==4.0.3
Babel==2.9.1
billiard==4.1.0
blinker==1.6.3
celery==5.3.4
certifi==2023.7.22
chardet==4.0.0
charset-normalizer==3.3.0
click==8.1.7
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.3.0
cloud-init==22.1
configobj==5.0.6
dasbus==1.4
dbus-python==1.2.18
distro==1.5.0
docker==6.1.3
file-magic==0.4.0
Flask==3.0.0
gpg==1.15.1
gunicorn==21.2.0
idna==2.10
importlib-metadata==6.8.0
itsdangerous==2.1.2
Jinja2==3.1.2
jsonpatch==1.21
jsonpointer==2.0
kombu==5.3.2
libcomps==0.1.18
MarkupSafe==2.1.3
netifaces==0.10.6
nftables==0.1
oauthlib==3.1.1
packaging==23.2
perf==0.1
pexpect==4.8.0
podman==4.7.0
prettytable==0.7.2
prompt-toolkit==3.0.39
ptyprocess==0.6.0
PyGObject==3.40.1
pyserial==3.4
PySocks==1.7.1
python-dateutil==2.8.2
python-linux-procfs==0.7.0
pytz==2021.1
pyudev==0.22.0
pyxdg==0.28
PyYAML==5.4.1
redis==5.0.1
requests==2.31.0
rpm==4.16.1.3
selinux==3.5
sepolicy==3.5
setools==4.4.1
setroubleshoot==3.3.31
six==1.15.0
sos==4.6.0
systemd-python==234
tomli==2.0.1
typing_extensions==4.8.0
tzdata==2023.3
urllib3==1.26.5
vine==5.0.0
wcwidth==0.2.8
websocket-client==1.6.4
Werkzeug==3.0.0
zipp==3.17.0
